body{
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: auto;
    margin: 5%;
}

.Container-grupo-poke{
    width: 80%;
    height: auto;
    margin: 5% 10% 5% 10%;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.divtextpoke{
    background: #b7b8bd;
    width: 30%;
    height: 180px;
    margin: 1.5%;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.divtextpoke:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0 , 0 , 0 , 4);
    background: #4EF390;
    transition: 0.3s;
}

.nombrePoke{
    color: #122e54;
    font-family: arial;
    display: block;
    font-size: 1.7em;
    text-align: center;
    width: 90%;
    height: auto;
    margin: 60px auto;
}

.cont_unPokemon{
    width: 80%;
    height: 400px;
    display: none;
    margin: 10% auto;
    border-radius: 10px;
    background-color: #FDFFDE;
}

.cont_img{
    width: 50%;
    height: 300px;
    display: inline-block;
}

.imagen_poke{
    width: 40%;
    height: auto;
    display: block;
    margin: 50px auto;
}

.cont-caracteristicas{
    width: 50%;
    height: 200px;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 50px;
    float: left;
}

.btn_atras{
    width: 250px;
    height: 70px;
    background-color: #008CC9;
    color: white;
    display: block;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 1.2em;
}

.btn_atras:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0 , 0 , 0 , 4);
    transition: 0.3s;
}

.pHabilidades{
    color: #122e54;
    font-family: arial;
    display: block;
    font-size: 1.5em;
    text-align: left;
    width: 70%;
    height: auto;
    margin: 15px auto;
}


/* inicio de estilos formulario login */
.container-login{
    width: 35%;
    height: auto;
    margin: 1% auto;
    background-color: #052442;
    border-radius: 20px;
}

.cont-imagenlogo{
    width: 60%;
    height: auto;
    margin: 5% auto;
    border-bottom: solid #DFECF9; 
    display: block;
    padding: 1%;
}

.cont-imagenlogo img{
    width: 25%;
    height: auto;
    display: block;
    margin: 0% auto;
    border-radius: 30%;
}

.container-login #imagenlogin{
    width: 25%;
    margin: 0 37%;
    height: auto;
}
.container-login h2{
    text-align: center;
    color: #DFECF9;
    margin: 0 auto;
}

.Container-form{
    font-size: 1.2em;
    font-family: sans-serif, arial;
}

.group-label-input{
    display: block;
    margin: 5% auto;
    width: 80%;
    height: auto;
}

.label-form{
    display: inline-block;
}

.input-form{
    display: inline-block;
    width: 75%;
    height: 40px;
    border: none;
    margin: 0 16%;
    background-color: #052442;
    border-bottom: solid #DFECF9;
    color: #DFECF9;
    font-family: sans-serif, arial;
}
.input-form::placeholder {
    color: #DFECF9;
    font-size: 1.2em;
    font-family: sans-serif, arial;
    opacity: 0.5;
}

.btn_form{
    font-family: sans-serif, arial;
    font-size: 1em;
    width: 45%;
    height: auto;
    margin: 8% 27% 2% 27%;
    padding: 2%;
    border-radius: 10px;
    background-color: #357505;
    border: none;
    color: #DFECF9;
}

.btn-registrarse{
    background-color: #4C2DE6;
    margin: 1% 27% 5% 27%;
}

.error-login {
    width: 80%;
    height: auto;
    text-align: center;
    font-family: sans-serif, arial;
    font-size: 1em;
    background-color: #9D1805;
    color: #DFECF9;
    padding: 2%;
    margin: 1% auto;
    border-radius: 3px;
    display: none;
}

.error-loginactive {
    display: block;
}

/* fin de estilos login */